* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.body {
    background-image: url(../images/fondo\ de\ figma.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 4000%;
    background-attachment: fixed;
    background-size: cover;
}

.Fondo-de-subir {
    background-image: url(https://images.unsplash.com/photo-1611305726065-357e6a91a369?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}

h1,
h2 {
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-weight: 500;
    font-size: 3rem;
}

h2 {
    font-weight: 300;
    font-size: 20px;
}

.Fondo-de-divisiones,
.Fondo-de-estadisticas,
.Fondo-de-Mimusica {
    background-image: url(https://images.unsplash.com/photo-1611305726065-357e6a91a369?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}

.menu {
    background-color: black;
}

ul {
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    list-style-type: none;
}

nav ul li a {
    text-decoration: none;
    color: aliceblue;
}

.contenedor {
    margin-bottom: 30px;
}

.contenedor-titulo {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.titulo-seccion {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.evil,
.bfour,
.esoteric {
    margin-top: 30px;
    margin-left: 1rem;
}

.evil:hover {
    transform: scaleY(1.04)
}

.bfour:hover {
    transform: scaleY(1.03)
}

.esoteric:hover {
    transform: scaleY(1.03)
}

footer {
    background-color: black;
    height: 5rem;
    text-align: center;
    padding-top: 1rem;
}

.logos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}

@keyframes desplazamiento-horizontal {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

.logos {
    animation: desplazamiento-horizontal 26s linear infinite;
}


.bodym {
    @media screen and (min-width: 321px) and (max-width: 760px) {
        grid-template-columns: 15% auto;
        grid-template-rows: 15% 10% auto;
        column-gap: 10px;
        row-gap: 10px;
    }
}

.okey,
.yeah,
.go,
.comeon,
.fu,
.wow,
.woah,
.ja,
.um,
.ouke,
.top,
.stage,
.hoe,
.ou,
.uuu,
.bei,
.gas,
.fast,
.wtf,
.hearts,
.opa,
.new,
.ots,
.sh.shh,
.up,
.lok {
    padding: 10px;
    margin-bottom: 10px;
}

.new {
    -webkit-animation: scale-up-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-top {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
}

@keyframes scale-up-top {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
}

.uuu {
    -webkit-animation: scale-up-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-top {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
}

@keyframes scale-up-top {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
}

.okey {
    -webkit-animation: scale-up-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-top {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
}

@keyframes scale-up-top {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
}

.lok {
    -webkit-animation: scale-up-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-top 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-top {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
}

@keyframes scale-up-top {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
    }
}


h1 {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.col-md-4,
.col-md-6,
.col-md-3,
.col-12 {
    padding: 5px;
    margin-bottom: 5px;
}

.valid-feedback,
.input-group,
.invalid-feedback {
    padding: 5px;
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    .logos {
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    .evil,
    .bfour,
    .esoteric {
        font-size: 2rem;
    }

    .estres,
    .ok,
    .buss {
        width: 100%;
        height: 70%;
    }

    .divPadre {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
    }
}

@media (max-width: 320px) {
    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 1rem;
        margin-top: 1rem;
    }

    .lo,
    .woah {
        display: grid;
        grid-template-columns: auto;
    }

    .hoe {
        display: grid;
        grid-template-columns: auto;
        column-gap: x;
    }

    .form {
        display: grid;
        column-gap: 50px;
    }

    footer {
        font-size: 12px;
    }

}