.Fondo-de-divisiones {
    background-image: url(https://images.unsplash.com/photo-1611305726065-357e6a91a369?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80);
    background-repeat: no-repeat;
    background-size: cover;
}

.uuu {
    padding: 10px;
    margin-bottom: 10px;

    .bei {
        @extend .uuu;
    }
}

.gas {
    @extend .uuu;

    .fast {
        @extend .uuu;

        .wtf {
            @extend .uuu;

            .hearts {
                @extend .uuu;
            }
        }
    }
}